html {
  background-color: cornsilk;
  font-size: 1rem;
}

.wrapper {
  background-color: #eee8d5;
}

.logo {
  font-size: 3rem;
  text-transform: uppercase;
}

nav ul {
  font-family: sans-serif;
  font-size: 1.5rem;
  background-color: #719e07;
}

.no-highlight {
  background-color: #fdf6e3;
}

h2 ul + li {
  background-color: #719e07;
}

main ul li:last-child .no-highlight {
  background-color: #2694d8;
}

h2 {
  font-size: 1.5rem;
  color: #93a1a1;
}

div > strong {
  color: #fff;
}

h2 + div {
  background-color: #b58900;
}

footer {
  font-size: 1.5rem;
}

ol li:first-child {
  color: #719e47;
}

ol li:last-child {
  color: #2aa198;
}

.types li:first-child {
  background-color: #657ba3;
}

.types li:nth-child(n+3) {
  background-color: #657ba3;
}

.types li:nth-child(2n+2) {
  background-color: #586e75;
}

.types li:nth-child(3n+3) {
  background-color: #d04b16;
}


 #657ba3 #586e75 #d04b16
